name: Unit test with mocha and chi
on: 
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  mocha-unit-test:
    name: Unit test for 30 challange
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Use Node.js 12.x
      uses: actions/setup-node@v2.5.0
      with:
        node-version: 12.x
    - run: npm ci
    - run: npm run build --if-present
    - run: npm test

  allure-server:
    name: Run allure server
    runs-on: ubuntu-latest
    steps:
    - run: docker pull kochetkovma/allure-server:latest
    - run: docker run -p 8080:8080 kochetkovma/allure-server:latest

    - name: Prepare reports
      uses: Xotabu4/send-to-allure-server-action@1
      id: allure-report
      if: $${{ always() }}
      with:
       allure-server-url: 'http://<allure-server-ip>:8080/'
