name: Unit test with mocha and chi
on: 
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  mocha-unit-test:
    name: Unit test for 30 challange
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Use Node.js 12.x
      uses: actions/setup-node@v2.5.0
      with:
        node-version: 12.x
    - run: npm ci
    - run: npm run build --if-present
    - run: npm test
